<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% autoescape off %}
Hello, sir / ms. {{ user.first_name }},
Please click on the link to confirm your registration,
http://{{ domain }}{% url 'account:activate' uidb64=uidb64 token=token %}
{% endautoescape %}
</body>
</html>