<div class="card">
    <form action="" method="post" class="card-body">
        {% csrf_token %}

        {% for field in form %}
        <div class="row">
            <div class="col-3">
                {{ field.label }}
            </div>
            <div class="col-3">
                {{ field }}
            </div>

            {% if field.errors %}
            <div class="col-3">
                <div class="alert alert-danger">
                    <strong>{{ field.errors | escape}}</strong>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <input type="submit" value="{{sub_val}}" class="btn btn-primary"/>
    </form>
</div>