{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <h5 class="card-title text-center">Please fill the credentials</h5>
                <div class="row mb-3">
                    <label class="col-3" for="usr">Email</label>
                    <input class="col" type="text" name="email" id="usr" placeholder="email address" required>
                </div>
                <div class="row mb-3">
                    <label class="col-3" for="psw">Password</label>
                    <input class="col" type="password" name="password" id="psw" placeholder="encryption" required>
                </div>
                <div class="row">
                    <label class="col-3" for="psw">&nbsp;</label>
                    <input class="col btn btn-info" type="submit" value="login">
                </div>
                <a href="{% url 'account:signup' %}" class="btn btn-outline-secondary btn-sm float-end mt-2">Sign UP</a>
                <a href="{% url 'account:password_reset' %}" class="btn btn-outline-secondary btn-sm float-end mt-2">Forgot Password?</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
