{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-5">
    <h5 class="mb-5">{{ request.user.get_fullname }}
        <p class="divider bg-info w-100"></p>
    </h5>

    <div class="list-group">
        {% if request.user.position == 'PT' %}
        <a href="{% url 'web:patient-card' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Patient Card</strong>
        </a>
        <a href="{% url 'web:patient-appoint' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Make Doctor's Appointment</strong>
        </a>
        {% elif request.user.position == 'DR' %}
        <a href="{% url 'web:doctor-room' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Doctors Room</strong>
        </a>
        {% endif %}
        <a href="{% url 'account:password_change' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Change password</strong>
        </a>
        <a href="{% url 'account:update' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Update information</strong>
        </a>
        <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <strong>Logout</strong>
        </a>
    </div>
</div>
{% endblock %}