{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="card">
        <form action="" method="post" class="card-body">
            {% csrf_token %}

            {% for line in form %}
            <div class="row">
                <div class="col-3">
                    {{ line.label_tag }}
                </div>
                <div class="col-3">
                    {{ line }}
                </div>
            </div>
            {% endfor %}

            {% if form.error_messages %}
            {% for error in error_messages %}
            <div class="col-3">
                <div class="alert alert-danger">
                    <strong>{{ error | escape }}</strong>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <input type="submit" value="change" class="btn btn-primary"/>

        </form>
    </div>
</div>
{% endblock %}
