<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div class="container">
Someone asked for password reset for email {{ user.email }}. Follow the link below:
http://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uidb64 token=token %}

</div>
</body>
</html>