{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h3>You can enter you new password</h3>
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" name="password1" /><br>
            <input type="password" name="password2" /><br>
            <input type="submit" value="reset">
        </form>
    </div>
{% endblock %}