{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Your email" required/>
        <input type="submit" value="reset" />
      </form>

    </div>
  </div>
</div>
{% endblock %}