{% extends 'base.html' %}

{% block body %}
<div class="container">
    {% if form %}
    <h5>Please fill the form</h5>
    <hr>
    <form action="" method="post">
        {% csrf_token %}

        {% for line in form %}
        <div class="row">
            <div class="col-3">
                {{ line.label_tag }}
            </div>
            <div class="col-3">
                {{ line }}
            </div>

            {% if line.errors %}
            <div class="col-3">
                <div class="alert alert-danger">
                    <strong>{{ line.errors | escape}}</strong>
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}
        <input type="submit" value="signup" class="btn btn-primary">
    </form>
    {% endif %}
</div>
{% endblock %}