{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- ABOUT PAGE -->

{% include 'web/page_overlay.html' with annot="About us" %}

<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Personal care for your healthy living</h2>
            </div>
            <div class="col-lg-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quod laborum alias. Vitae
                    dolorum, officia sit! Saepe ullam facere at, consequatur incidunt, quae esse, quis ut reprehenderit
                    dignissimos, libero delectus.</p>
                <img src="images/about/sign.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="fetaure-page ">
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0">
                    <img src="{{ service.cover.url }}" alt="" class="img-fluid w-100">
                    <h4 class="mt-3">{{ service.name }}</h4>
                    <p>{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section awards">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h2 class="title-color">Our Doctors achievements </h2>
                <div class="divider mt-4 mb-5 mb-lg-0"></div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section team">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="mb-4">Meet Our Specialist</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Today’s users expect effortless experiences. Don’t let essential people and processes stay stuck
                        in the past. Speed it up, skip the hassles</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for doctor in doctors %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-block mb-5 mb-lg-0">
                    <img src="{{ doctor.photo.url }}" alt="" class="img-fluid w-100">

                    <div class="content">
                        <h4 class="mt-4 mb-0">
                            <a href="{% url 'web:med-doctor-detail' doctor.doctorsdossier.id %}">{{ doctor.get_fullname }}</a>
                        </h4>
                        <p>{{ doctor.doctorsdossier.job_position }}, {{ doctor.doctorsdossier.specialization }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="section testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="section-title">
                    <h2 class="mb-4">What they say about us</h2>
                    <div class="divider  my-4"></div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 testimonial-wrap offset-lg-6">
                <div class="testimonial-block">
                    <div class="client-info ">
                        <h4>Amazing service!</h4>
                        <span>John Partho</span>
                    </div>
                    <p>
                        They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure,
                        ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet
                        nostrum nemo commodi numquam quod.
                    </p>
                    <i class="icofont-quote-right"></i>

                </div>

                <div class="testimonial-block">
                    <div class="client-info">
                        <h4>Expert doctors!</h4>
                        <span>Mullar Sarth</span>
                    </div>
                    <p>
                        They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure,
                        ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet
                        nostrum nemo commodi numquam quod.
                    </p>
                    <i class="icofont-quote-right"></i>
                </div>

                <div class="testimonial-block">
                    <div class="client-info">
                        <h4>Good Support!</h4>
                        <span>Kolis Mullar</span>
                    </div>
                    <p>
                        They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure,
                        ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet
                        nostrum nemo commodi numquam quod.
                    </p>
                    <i class="icofont-quote-right"></i>
                </div>

                <div class="testimonial-block">
                    <div class="client-info">
                        <h4>Nice Environment!</h4>
                        <span>Partho Sarothi</span>
                    </div>
                    <p>
                        They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure,
                        ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet
                        nostrum nemo commodi numquam quod.
                    </p>
                    <i class="icofont-quote-right"></i>
                </div>

                <div class="testimonial-block">
                    <div class="client-info">
                        <h4>Modern Service!</h4>
                        <span>Kolis Mullar</span>
                    </div>
                    <p>
                        They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure,
                        ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet
                        nostrum nemo commodi numquam quod.
                    </p>
                    <i class="icofont-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
