{% extends 'base.html' %}
{% block body %}

<div class="container">
    <h4>Details of Analyz #{{ analyz.id }} - {{analyz.created}}</h4>
    <div><a href="{% url 'web:patient-card' %}" class="btn-sm btn-primary">back to patient card</a></div>
    {{book | safe}}
</div>

{% endblock %}