{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="section confirmation">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="confirmation-content text-center">
                        <i class="icofont-check-circled text-lg text-color-2"></i>
                        <h2 class="mt-3 mb-4">Thank you for your appoinment</h2>
                        <p>We will contact with you soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}