<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            font-family: sans-serif
        }
        .container{
            max-width: 950px;
            margin: 10px auto;
        }
        .divider {
          width: 70%;
          height: 5px;
          background: #e12454;
        }
        .p-divider{
          width: 100%;
          height: 3px;
          background: #ed406cab;
        }
        .card {
            border: 1px solid grey;
            border-radius: 5px;
            padding: 12px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3><strong>Medical</strong> [Patient Card]</h3>
        <h3>Fullname: {{user.first_name}} {{user.last_name}}</h3><div class="divider"></div>

        <h5>Note entries:</h5>
        {% for note in entries %}
        <div class="card">
            <div class="card-title">Date: {{note.created|slice:"0:10"}} || Time: {{note.created|slice:"11:20"}}</div>
            <div class="card-body">
                {{note.note|safe}}
            </div>
        </div>
        {% endfor %}

        <br/><div class="p-divider"></div><br/>

        <h5 style="margin-bottom: 10px">Test results:</h5>
        {% for test in tests %}
        <div class="card">
            <div class="card-title">Date: {{test.created|slice:"0:10"}} || Time: {{test.created|slice:"11:20"}}</div>
            <div class="card-body">
                {{test.csv_file}}
            </div>
        </div>
        {% endfor %}

    </div>
</body>
</html>