{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- DEPARMENTS -->

{% include 'web/page_overlay.html' with title="Departments" annot="Our Department list" %}

<section class="section service-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Award winning patient care</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt
                        molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                </div>
            </div>
        </div>

        <div class="row">

            {% for department in departments %}
            <div class="col-lg-4 col-md-6 ">
                <div class="department-block mb-5">
                    <div class="img-cover" style="background: url('{{ department.cover.url }}') 0 0 no-repeat; height: 56vh; background-size: cover;"></div>
                <!--<img src="{{ department.cover.url }}" alt="" class="img-fluid w-100" style="max-height: 230px">-->
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">{{ department.name }}</h4>
                        <p class="mb-4">{{ department.description |safe |slice:":61"  }}.</p>
                        <a href="{% url 'web:med-department-detail' department.slug %}" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}