{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <!-- Find Patient's data (card, analyzes etc) DONE -->
    <!-- Read (can't change for now)            DONE -->
    <!-- Create new entry to PT card           -->

    <div class="doctor__patient-list">
        <form method="post" id="ptSearchForm">
            <div class="mb-3 row pt-search">
                {% csrf_token %}
                <label for="doc-pt-search" class="col-sm-2 col-form-label">Patient search</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="doc-pt-search" placeholder="Vanya"/>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Search" class="btn btn-outline-primary" id="docPtSearchBtn"/>
                </div>
            </div>
        </form>

        <div class="row">

            <div class="mb-3 pt-found-list col-6">
                <h4 class="">Patient list</h4>
                <div id="ptFoundListId">
                    {% for patient in patient_list %}
                    <div class="card mb-3 doc-pt-card">
                        <div class="card-body">
                            <h5 class="card-title">{{patient.get_fullname}}</h5>
                            <p class="card-text">{{patient.email}}</p>
                            <p class="card-text">{{patient.birth_date}}</p>
                            <p class="card-text">{{patient.phone_number}}</p>
                            <a href="{% url 'web:doctor-room-pat' patient.patientcard.id %}"
                               class="btn btn-sm btn-outline-primary">Open card</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <div class="mb-3 pt-found-list col-6" id="doc-appointments-list">
                <h4>Appointments for today : {{appointments|length}}</h4>
                {% for appoint in appointments %}
                <div class="card mb-3 doc-pt-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{appoint.date_time|date:"SHORT_DATE_FORMAT"}}
                            <span class="text-success">{{ appoint.date_time|time:"H:i" }}</span>
                        </h5>
                        <div class="card-text">Patient: {{appoint.patient.get_fullname}}</div>
                        <div class="card-text">Status: {{appoint.status}}</div>
                    </div>
                </div>
                {% endfor %}
                <hr/>
                <a href="{% url 'web:doctor-appointments' %}" class="btn btn-sm btn-outline-primary">See all
                    appointments</a>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/web.js' %}"></script>
{% endblock %}