{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3>Our proud</h3>
    <div class="d-flex flex-wrap">

        {% for doctor in doctors %}
        <div class="card mx-1 my-1" style="width: 18rem;">
            <img src="{{doctor.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{doctor.get_fullname}}</h5>
                <p class="card-text">{{doctor.doctorsdossier.job_position}}</p>
                <p class="card-text">{{doctor.doctorsdossier.specialization}}</p>
                <a href="{% url 'web:med-doctor-detail' doctor.doctorsdossier.id %}" class="btn btn-primary">See profile</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}