{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-5">
            {% for appoint in appointments %}
            <div class="card mb-3 pt-card {{appoint.status}}">
                <div class="card-body">
                    <h5 class="card-title">{{appoint.date_time}}</h5>
                    <p class="card-text">Patient: {{appoint.patient.get_fullname}}</p>
                    <div class="card-text row">
                        <div class="col-8">
                            Status: <span class="disabled btn-sm btn-info">{{appoint.status}}</span>
                        </div>
                        <div class="col-4">
                            Change to :
                            <select class="form-select CardStatusSelect" aria-label="Status select" data-id="{{appoint.id}}">
                                <option value="none">-----</option>
                                <option value="open">open</option>
                                <option value="closed">closed</option>
                                <option value="delay">delay</option>
                                <option value="processing">processing</option>
                                <option value="canceled">canceled</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Filter by status</p>
                    <div class="row">
                        <div class="col-8">

                            <select class="form-select" aria-label="Status select" id="statusSelect">
                                <option value="none">-----</option>
                                <option value="open">open</option>
                                <option value="closed">closed</option>
                                <option value="delay">delay</option>
                                <option value="processing">processing</option>
                                <option value="canceled">canceled</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" id="statusFilterReset">Show all</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/appointments.js'%}"></script>
{% endblock %}