{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="card col-4 p-2 mx-auto">
            <img src="{{profile.user.photo.url}}" class="card-img-top" alt="...">
        </div>
        <div class="card col-6 mx-auto">
            <div class="card-body">
                <h5 class="card-title">{{profile.user.get_fullname}}</h5>
                <p class="card-text"><b>Job Position:</b> {{profile.job_position}}</p>
                <p class="card-text"><b>Specialization:</b> {{profile.specialization}}</p><hr/>
                <p id="biography">{{ profile.biography|json_script:"profile-bio" }}</p>
                <h6 class="mb-3">Short Biography</h6>
                <div class="d-flex align-items-start">
                  <div class="nav flex-column nav-pills mr-3" id="tabsBlock" role="tablist" aria-orientation="vertical"></div>
                  <div class="tab-content" id="tabContent"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'web/js/dossier.js' %}"></script>
{% endblock %}