{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'web/page_overlay.html' with title="Book your Seat" annot="Appoinment" %}

<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                        <i class="icofont-support text-lg"></i>
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="text-color mt-3">+84 789 1256 </h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Book an appoinment</h2>
                    <p class="mb-4">
                        Signup to have an opportunity to choose suitable time and your doctor by yourself.<br/>
                        Otherwise, just fill this form below, and we contact you as soon as possible.
                    </p>
                    <form id="client-appoint-form" class="appoinment-form" method="post" action="#">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form.department}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form.doctor}}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="date" id="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="time" id="time" type="time" class="form-control" placeholder="Time">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="fullname" id="fullname" type="text" class="form-control"
                                           placeholder="Full Name">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="phone" id="phone" type="Number" class="form-control"
                                           placeholder="Phone Number">
                                </div>
                            </div>
                        </div>

                        <div class="form-group-2 mb-4">
                            {{form.notes}}
                        </div>

                        <button type="submit" class="btn btn-main btn-round-full">Make Appoinment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
