{% load static %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">{{ title }}</span>
                    <h1 class="text-capitalize mb-5 text-lg">{{ annot }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
