{% extends 'base.html' %}
{% load static %}
{% block body %}

{% include 'web/page_overlay.html' with title="Book your Seat" annot="Appoinment" %}

<section class="appoinment section pt-0">
    <div class="container py-5">
        <form id="to-appoint-form" class="appoinment-form" method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="mt-3">
                        <div class="feature-icon mb-3">
                            <i class="icofont-support text-lg"></i>
                        </div>
                        <span class="h3">Call for an Emergency Service!</span>
                        <h2 class="text-color mt-3">+84 789 1256 </h2>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                        <h2 class="mb-2 title-color">Book an appoinment</h2>
                        <p class="mb-4">
                            Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui
                            velit . Iste dolorum atque similique praesentium soluta.
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="{{ form.doctor.id_for_label }}">Choose Your Doctor:</label>
                                    {{form.doctor}}
                                </div>

                                <div class="form-group-2 mb-4">
                                    <label for="{{ form.notes.id_for_label }}">Any Message (if needed):</label>
                                    {{form.notes}}
                                </div>
                            </div>

                            <!-- IN GENERAL THE IDEA: Doctor and Department are connected, when choosing a department, -->
                            <!-- a person can see a list of doctors that are in it and choose from them. But not now...-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="evo-calendar-shell mt-3">
                <div id="calendar"></div>
            </div>

            <button class="btn btn-main btn-round-full ml-auto mr-auto d-block mt-3 p-4" type="submit">Make Appoinment<i
                    class="icofont-simple-right ml-2"></i></button>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<!-- Evo Calendar -->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="{% static 'web/css/evo-calendar.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/evo-calendar.midnight-blue.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/evo-calendar.royal-navy.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'web/css/evo-calendar.orange-coral.min.css' %}"/>
<script src="{% static 'web/js/evo-calendar.min.js' %}"></script>
<script src="{% static 'web/js/calendarEventer.js' %}"></script>
{% endblock %}
