{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            {% if field.label == "Note" %}
                <div class="row">
                    <div class="col-2">
                        {{ field.label }}
                    </div>
                    <div class="col-10">
                        {{ field }}
                    </div>
                </div>
            {% else %}
                <div class="row" style="display: none;">
                    <div class="col-2">
                        {{ field.label }}
                    </div>
                    <div class="col-10">
                        {{ field }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-4">
        <input type="submit" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}