{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="patient-room-header">
        <div class="row">
            <div class="col-8">
                <h2 class="mb-4"><span class="text-decoration-underline">Patient</span>: {{card.user.get_fullname}}</h2>
            </div>
            <div class="col-4">
                <div id="getBtnRow">
                    <button type="button" class="dwnldRBtn btn btn-outline-primary" id="getCardBtn" data-card="{{card.id}}">
                        <span id="loadSpinner" class="" role="status" aria-hidden="true">&nbsp;</span>
                        Prepare Card
                    </button>
                    {% if request.user.position == 'DR' %}
                    <a href="{% url 'web:doctor-pat-entry' card.id %}" class="dwnldRBtn btn btn-outline-secondary">
                        Make new entry</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-8">
            <div class="patient-card">
                <h4 class="mb-2">Your patient card. All visit data etc.</h4>

                {% for record in card.patientnoteentry_set.all reversed %}
                <div class="card mb-2 patient-card-item">
                    <div class="card-body">
                        <h5 class="card-title">{{record.created}}</h5>
                        <hr/>
                        <div class="card-text">{{record.note | safe}}</div>
                        <p class="card-record disabled"><i>The record was made by: {{record.made_by.get_fullname}}</i></p>
                        <button class="btn btn-primary btn-expand p-2">Expand</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-4">
            <div class="patient-tests">
                <h4 class="mb-2">Data about analyzes and tests</h4>

                {% for test in card.patientanalysis_set.all %}
                <div class="card mb-2" style="">
                    <div class="card-body">
                        <h5 class="card-title">{{test.created}}</h5>
                        <hr/>
                        <p class="card-text">{{test.csv_file | safe}}</p>
                        <a href="{% url 'web:patient-test' test.id %}"
                           class="btn-sm btn-primary text-decoration-none">Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/patient_card.js' %}"></script>
{% endblock %}
