{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- SERVICES PAGE -->

{% include 'web/page_overlay.html' with title="Our services" annot="What We Do" %}

<section class="section service-2">
    <div class="container">
        <div class="row">

            {% for service in services %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="{{ service.cover.url }}" alt="" class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">{{ service.name }}</h4>
                        <p class="mb-4">{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="section cta-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="cta-content">
                    <div class="divider mb-4"></div>
                    <h2 class="mb-5 text-lg">We are pleased to offer you the <span class="title-color">chance to have the healthy</span>
                    </h2>
                    <a href="{% url 'web:med-appoint' %}" class="btn btn-main-2 btn-round-full">Get appoinment<i
                            class="icofont-simple-right  ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

