<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminder</title>
    <style>
        body {
            padding: 15px;
            box-sizing: border-box;
        }
        .container{
            max-width: 450px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #000;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Hello, mrs. {{patient.get_fullname}} </h3>
    <h3>We remind you that your appointment to DR. {{doctor}} is still valid
        and will take place on {{date_time}}</h3>
    <h5>Please don't be late :)</h5>
</div>
</body>
</html>