body {
    box-sizing: border-box;
}

.container{
    padding-top: 20px;
}

.base-nav .nav-item .nav-link,
.base-nav .navbar-brand {
    color: white!important
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.alert.alert-danger .errorlist{
    list-style: none;
    padding: 0;
}
.card-minimize {
    max-height: 150px;
    overflow: hidden;
    box-shadow: inset 0px -26px 4px -5px rgb(115 90 255 / 39%);
}
.patient-card .patient-card-item .card-text {
    margin-bottom: 12px;
}
header div h1.col {
    color: #2bbdbef5;
    font-size: 30px;
}
header nav.navbar.navigation {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
}
footer div h1.col {
    color: #2bbdbef5;
}

.btn-outline-primary,
.btn-outline-secondary {
    border: 2px solid!important;
}
.dwnldRBtn {
    padding: 6px;
}