{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'web/img/med_logo_3.png' %}"/>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'web/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'web/plugins/icofont/icofont.min.css' %}">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="{% static 'web/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'web/plugins/slick-carousel/slick/slick-theme.css' %}">

    <link rel="stylesheet" href="{% static 'web/css/core_styles.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">

<!--    &lt;!&ndash; Bootstrap JS CDN &ndash;&gt;-->
<!--    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

</head>
<body>
    {% include 'header.html' %}

    {% if messages %}
    <ul class="messages" style="list-type: none; padding: 0;">
        {% for message in messages %}
        <li role="alert" class="alert alert-primary alert-dismissible fade show {{ message.tags }}">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block body %}
    {% endblock %}

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>

    {% include 'footer.html' %}

    <!-- Main jQuery -->
    <script src="{% static 'web/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'web/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'web/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'web/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'web/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'web/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'web/plugins/counterup/jquery.counterup.min.js' %}"></script>

    <script src="{% static 'web/js/script.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>