{% load static %}
<header>
    <div class="header-top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <ul class="top-bar-info list-inline-item pl-0 mb-0">
                        <li class="list-inline-item"><a href="mailto:support@gmail.com"><i
                                class="icofont-support-faq mr-2"></i>support@novena.com</a></li>
                        <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Ta-134/A, New
                            York, USA
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                        <a href="tel:+23-345-67890">
                            <span>Call Now : </span>
                            <span class="h4">823-4565-13456</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-light float-right" href="{% url 'account:panel' %}">
                        <i class="bi bi-person-circle"></i>
                        Dashboard
                    </a>
                    {% else %}
                    <a class="btn btn-light float-right" href="{% url 'account:login' %}">
                        <i class="bi bi-door-open-fill"></i>
                        Login
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <div class="row">
                <a class="navbar-brand col my-0 me-2 p-0 d-block" href="{% url 'web:home' %}">
                    <img src="{% static 'web/img/med_logo_3.png' %}" alt="" class="img-fluid d-inline" width="40px">
                    <h1 class="col d-inline align-bottom">Medical</h1>
                </a>
            </div>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                    aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'web:home' %}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'web:med-about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'web:med-services' %}">Services</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'web:med-departments' %}" id="dropdown02">Departments</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{% url 'web:med-doctors' %}">Doctors</a></li>
                            {% if request.user.is_authenticated and request.user.position == 'PT' %}
                            <li><a class="dropdown-item" href="{% url 'web:patient-appoint' %}">Appoinment</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'web:med-appoint' %}">Appoinment</a></li>
                            {% endif %}
                        </ul>
                    </li>

<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05"-->
<!--                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i-->
<!--                                class="icofont-thin-down"></i></a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--                            <li><a class="dropdown-item" href="">Blog with Sidebar</a></li>-->

<!--                            <li><a class="dropdown-item" href="">Blog Single</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item"><a class="nav-link" href="{% url 'web:med-contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>